@import 'fonts.css';
@import 'resets.css';
@import 'header.css';
@import 'portfolio-hero.css';
@import 'estimate.css';
@import 'about.css';
@import 'footer.css';

.bank {
  padding: 90px 36px;
}

.bank__title {
  padding-top: 90px;
  padding-bottom: 60px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bank__picture {
  width: 100%;
  height: auto;
  border-radius: 36px;
}

.bank__picture img {
  width: 100%;
  height: auto;
  border-radius: 38px;
}

#bankImageTrigger {
  cursor: pointer;
}

@media (max-width: 768px) {
  .gradient {
    display: none;
  }
  .bank {
    padding: 0 16px 80px;
  }

  .bank__title {
    font-size: 24px;
    padding-top: 80px;
    padding-bottom: 32px;
  }

  .bank__picture {
    border-radius: 8px;
  }

  .bank__picture img {
    border-radius: 8px;
  }
}

.modal__bank {
  visibility: hidden; /* скрыто по умолчанию */
  opacity: 0; /* скрыто по умолчанию */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-in-out;
}

.modal__content img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  border-radius: 60px;
  transition: all 0.3s ease-in-out;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1001;
}

.modal__close:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  #imageModal img {
    width: 100%;
    height: 100%;
    object-fit: none;
    border-radius: unset;
  }
}
