.team {
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}

.team__bg {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: -1;
}

.team__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 88px;
}

.team__txt {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 1px;

  background: linear-gradient(272deg, #0078bc -10.07%, #21bcff 48.55%, #06f0ff 103.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 675px;
  width: 100%;
  padding-bottom: 102px;
}

.team__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.team__person {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
}

.team__person-wrap {
  display: flex;
  flex-direction: column;
}

.team__name-wrap {
  padding-top: 20px;
  padding-bottom: 8px;
}

.team__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 4px;
}

.team__photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.team__position {
  line-height: 1.4;
  color: #acacac;
  display: block;
}

.team__description {
  line-height: 1.4;
  color: #acacac;
  display: block;
  padding-bottom: 16px;
}

.team__link {
  background-color: #0e2938;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 12px;
  transition: all 0.3s;
}

.team__link:hover {
  background: #07617f;
}

@media (max-width: 1200px) {
  .team__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
  }
}

@media (max-width: 768px) {
  .team {
    padding-bottom: 80px;
  }

  .team__title {
    font-size: 28px;
    line-height: 1.2;
    padding-bottom: 32px;
  }

  .team__bg {
    width: 182px;
    height: 200px;
    top: 20px;
    left: -80px;
  }

  .team__txt {
    font-size: 20px;
    padding-bottom: 32px;
  }

  .team__person {
    max-width: 360px;
  }

  .team__person-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 16px;
  }

  .team__name-wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
